export REPO_TOP="$PWD"
path_add PATH "$REPO_TOP/sbin"

export NPROC="${NPROC:-$(nproc)}"
# clean up debug output, and finish faster
export MAKEFLAGS="--jobs=$((NPROC*3)) --no-builtin-rules --no-builtin-variables"


# vim:ft=bash
