export PROJECT_TOP="$PWD"
export PROJECT="$(basename "$PROJECT_TOP")"

export VIRTUAL_ENV="$PROJECT_TOP/.venv"
path_add PATH "$VIRTUAL_ENV/bin"

source_env ..  # use parent direnv, too

# vim:ft=bash
